@page "/"
@using HtmlAgilityPack;
@using Radio_Room.UI.dbContext;
@using Radio_Room.UI;
@inject IDialogueService DialogueService
@using Newtonsoft.Json;
@rendermode InteractiveServer

<p role="status">Coordinates: lat = 51.0344 & long = 2.3768 </p>
<p role="status">Country: FR </p>
<p role="status">Current Weather in Dunkirk: @weatherCheck </p>

<MudButton Class="button">
    See progress <MudNavLink Href="../../Save/Progress.txt" Match="NavLinkMatch.All"></MudNavLink>
</MudButton>

<!--Starting dialogue:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--First response:-->
<MudButtonGroup>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption1))'>
        This is US (RTO) operator Clay Doberman from the USS Massachusetts battleship.
        Who is this? 
    </MudButton>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption2))'>
        This is (RTO) operator Clay Doberman from the USS Massachusetts battleship.
        I read you. 
    </MudButton>
</MudButtonGroup>

<!--Dialogue after 1st response:-->
<MudStack>
    <MudPaper Class="pa-3" id="dialogue"><MudElement id="dialogue" HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--Dialogue after 2nd response:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--(after 1st response option) 2nd response:-->
<MudButtonGroup>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption101))'>
        Yes! Could you describe your surrounding? What's your situation?
    </MudButton>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption102))'>
        That must have been terrible! Did you lose your squad?
    </MudButton>
</MudButtonGroup>

<!--Dialogue 1A:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--Dialogue 1B:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--(after 2nd response option) 2nd response:-->
<MudButtonGroup>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption201))'>
        I'm going to need more proof of identity.
        Could you give some more information on your squad commander, 
        your squad number, and anything else related to identifying you, 
        so I can check? </MudButton>
    <MudButton Class="button" @onclick='(() => LoadSpecificDialogue(responseOption202))'>
        Why weren't you able to escape with the others?
        Where's your squad? </MudButton>
</MudButtonGroup>

<!--Dialogue 2A:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> @dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--Dialogue 2B:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>


@code {

    //OpenWeather API call and data retrieval:
    public string weatherCheck = "";

    public class DataObject
    {
        public Weather[] weather = new Weather[1];
    }

    public class Weather
    {
        public int id { get; set; }
        public string main { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
    }


    // Initializing dialogue database
    public void SeedData()
    {
        var context = new Radio_RoomDbContext();

        try
        {
            if (!context.Dialogues.Any())
            {
                IEnumerable<Dialogue> dialogues = GetDialoguesFromExternalDatabase();
                context.Dialogues.AddRange(dialogues);
                var result = context.SaveChanges();
                Console.WriteLine($"Result: {result}");
            }
        }
        catch (ArgumentException ex)
        {

        }
    }

    public class DialogsList { public List<Dialogue> Dialogues = []; };

    private IEnumerable<Dialogue> GetDialoguesFromExternalDatabase()
    {
        string pathToDialogueJson = "C:\\Users\\Tech Louisville\\OneDrive\\Documents\\CSProjects\\Radio_Room\\Radio_Room.UI\\Dialogues.json";
        string jsonString = File.ReadAllText(pathToDialogueJson);
        var dialogues = JsonConvert.DeserializeObject<DialogsList>(jsonString);

        return dialogues.Dialogues;

    }

    private const string url = "https://api.openweathermap.org/data/2.5/weather?lat=51.0344&lon=2.3768&appid=";
    protected override async Task OnInitializedAsync()
    {
        var context = new Radio_RoomDbContext();
        context.Dialogues.ExecuteDelete();
        context.SaveChanges();

        SeedData();

        // get all dialogues:
        LoadData();

        // web api call
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(url);

        // List data response.
        HttpResponseMessage response = client.GetAsync(url).Result;
        if (response.IsSuccessStatusCode)
        {
            // Parse the response body.
            var dataObjects = response.Content.ReadAsAsync<DataObject>().Result;

            weatherCheck = dataObjects.weather[0].description;
        }
        else
        {
            Console.WriteLine("{0} ({1})", (int)response.StatusCode, response.ReasonPhrase);
        }
        client.Dispose();
    }

    /*Dialogue code: */
    /* when the player presses a button -> 
     * a overarching function will be triggered 
     * - the int will turn into the option picked (a value is assigned per button 1 or 2 on the first option), 
     * - the database dialogue retrieval method is called
     * Using the int value the dialogue retrieves a specific set of dialoguelines through the PlayerResponseOption 
     * (this is the same as the value of the button)*/

    public int responseOption1 = 1;

    public int responseOption2 = 2;

    public int responseOption101 = 101;

    public int responseOption102 = 102;

    public int responseOption201 = 201;

    public int responseOption202 = 202;

    //-------------------------------------------------------------------------------------------------------------------

    Dialogue dialogue = new Dialogue();

    List<Dialogue> dialogues = new List<Dialogue>();
    private void LoadData()
    {
        dialogues = DialogueService.GetAllDialogues();
    }

    public void LoadSpecificDialogue(int responseOption)
    {

        if (responseOption == 1 || responseOption == 2 || responseOption == 101 || responseOption == 102 || responseOption == 201 || responseOption == 202)
        {
            //this needs to grab from the buttons
            var characterResponse = dialogues.Where(s => s.PlayerResponseOption == responseOption).FirstOrDefault();
            dialogue = characterResponse;
        }
    }

}
